{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel Tourism Management</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css'  %}" />
</head>
<body  bgcolor="#34d5eb">
<h1> Travel Tourism Management </h1>
<a href="{% url 'register' %}"> sign-up| </a>
<a href="{% url 'login' %}"> Login |</a>
<a href="{% url 'home' %}">Home |</a>
<a href="{% url 'viewpackages' %}"> view packages| </a>
<a href="{% url 'checkpackages' %}"> insert packages| </a>
<br><br><br>
{% block 'b1' %}

<h2 align="center"> <font color="green"> KLU admin Travel Tourism And Management</font></h2>
<div>
    {% for i in messages  %}
    <h4 align="center"><font color="red" >{{i}}</font></h4>
    {% endfor %}
</div>
{% endblock %}
</body>
</html>